@use "sass:map";
@import "../../../src/containers/layouts/page/all";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.container__categories_slider {
    max-width: 1200px !important;
    margin-top: 30px !important;


    .categories_slider {
        .categories_slider_item {
            height: 300px;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
            margin: 0 10px; // Add margin for spacing between items

            p {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%); // Center text horizontally
                text-align: center;
                font-size: 18px;
                color: white; // Adjust text color for better visibility
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 12px 20px; // Increase padding for better readability
                background-color: rgba(0, 0, 0, 0.5); // Add background color with transparency
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background: hsl(29, 96%, 51%);
                }
            }
        }
    }

}

.featured {
    margin-top: 50px;

    .section-title {
        margin-bottom: 50px;
        text-align: center;

        h2 {
            position: relative;

            &::after {
                // Styles for the underline
            }
        }
    }

    .featured__item {
        margin-bottom: 50px;

        .featured__item__pic {
            height: 270px;
            position: relative;
            overflow: hidden;
            background-position: center;
            border-radius: 5px;

            .featured__item__pic__hover {
                position: absolute;
                bottom: -40%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;

                li {
                    display: inline-block;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }

                    svg {
                        // Styles for SVG icons
                    }
                }
            }
        }

        .featured__item__text {
            text-align: center;

            h6 {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;

                a {
                    color: map.get($theme-colors, "normal-text");
                    text-decoration: none;
                }
            }

            h5 {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 700;
                color: map.get($theme-colors, "normal-text");
            }
        }
    }
}


.banner {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;

    img {
        width: 600px;
        height: 300px;
    }

}

.loader {
    border-top-color: #3498db;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}