@use "sass:map";
@import "../../../src/containers/layouts/page/all";


.container__categories_slider {
    max-width: 1200px !important;
    margin-top: 30px !important;


    .categories_slider {
        .categories_slider_item {
            height: 300px;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            border-radius: 5px;

            p {
                position: absolute;
                left: 5%;
                bottom: 20px;
                text-align: center;
                font-size: 18px;
                color: map.get($theme-colors, "normal-text");
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 12px 0 10px;
                width: 270px;
                cursor: pointer;

                &:hover {
                    background: hsl(29, 96%, 51%);
                }
            }
        }

        .react-multi-carousel-item:not(:first-child):not(:last-child) {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.featured {
    margin-top: 50px;

    .section-title {
        margin-bottom: 50px;
        text-align: center;

        h2 {
            position: relative;
        }

        h2::after {
            position: absolute;
            left: 0;
            bottom: -15px;
            right: 0;
            height: 4px;
            width: 80px;
            background: map.get($theme-colors, "main");
            content: "";
            margin: 0 auto;
        }
    }
}